#videojs {
	.seek-bar-marker {
		color: #ddd;
		width: 2.5em;
		top: -0.15em;
		font-size: 0.4em;
		margin-left: -1em;
		position: absolute;
		z-index: 3;
		text-shadow: -1.5px 0 #000, 0 1.5px #000, 1.5px 0 #000, 0 -1.5px #000;
		outline:none;

		&.note-marker {
			color: #ff6;
			font-size: 0.9em;
			width: 1.5em;
			top: -1.9em;
			margin-top: 0.3em;
			padding-top: 0.3em;
			padding-bottom: 0.2em;
			text-shadow: none;
		}

		&:focus {
			text-shadow: 0 0 1em #fff;
		}
	}

	&.vjs-user-inactive.vjs-playing {
		.note-marker {
			top: -1.3em;
			text-shadow: -1.5px 0 #000, 0 1.5px #000, 1.5px 0 #000, 0 -1.5px #000;
			transition: all 0.5s;
			opacity: 0.7;

			&.being-played {
				font-size: 1.4em;
			}
		}
	}
}
