.seek-bar-marker {
	color: #0f0;
	width: 2.5em;
	font-size: 0.3em;
	margin-left: -1em;
	position: absolute;
	z-index: 1;
}

.seek-bar-marker.note-marker {
	font-size: 0.9em;
	top: -1.3em;
}