$dialogFont: Arial, Helvetica, sans-serif;

#videojs {
	// Chrome only
	@media screen and (-webkit-min-device-pixel-ratio:0)
	{
		select {
			// As Chrome allows us to redesign the select control, this comes with the disadvantage of a different default padding
			padding: 3px 2em 3px 7px !important;
		}
	}

	select {
		border-radius: 3px;
		-webkit-appearance: none;
		appearance: none;
		border: 0;
		padding: 0;
		background: #fff url('../img/chevron-down.svg') no-repeat 95% center;
		background-size: 0.7em;
		font-family: $dialogFont;
		font-size: 1em;
	}

	// Hides Arrow Icon in IE10
	select::-ms-expand {
		display: none;
	}

	.language-menu {
		background: linear-gradient(to right, rgba(50, 50, 50, 0.8) 10%, rgba(0, 0, 0, 0.7) 100%);
		left: -13em;
		bottom: 1.5em;
		width: 20em;
		height: 6.4em;
		max-height: inherit;
		text-align: left;
		padding: 0.3em;
		cursor: default;

		h1 {
			padding: 0.5em;
			font-size: 1.2em;
		}

		div {
			padding: 0.4em 0.4em 0;
		}

		label {
			display: inline-block;
			width: 7em;
		}

		.value {
			display: inline-block;
		}

		span {
			color: #ddd;
		}

		select {
			width: 11.5em;
		}

		&.simple {
			height: 4.2em;
		}
	}

	.vjs-menu {
		font-family: $dialogFont;
	}

	.vjs-menu-content {
		background: rgba(50, 50, 50, 0.8);
		padding: 2px 2px 0.3em;
		max-height: 22em;
		cursor: default;

		li {
			&.vjs-selected {
				font-weight: bold;

				&:hover {
					background: #ddd;
				}
			}

			&:hover {
				background: #666;
			}
		}
	}

	.seek-bar-marker {
		&.note-marker {
			.vjs-menu {
				width: 25em;
				position: relative;
				margin-left: -3em;

				li {
					padding: 0.5em 0.5em 1em 1em;
					color: #000;
					border-radius: 8px;
					background: linear-gradient(45deg, #faf2b6, #fcf38e);
					box-shadow: 5px 5px 15px -9px rgba(0, 0, 0, 0.6);
					margin: 0.5em;
					text-transform: initial;
					-webkit-user-select: initial;
					user-select: initial;
				}
			}

			a {
				text-decoration: none;
			}

			.vjs-menu-content {
				background: none;
				max-height: 40em;
				bottom: 1em;
			}

			.vjs-menu-item {
				text-align: left;
			}

			.collapse-button {
				display: inline;
				margin-right: 0.5em;
				font-size: 0.8em;
				cursor: pointer;
			}

			.note-icon {
				display: inline-block;
				margin-right: 0.5em;
				font-size: 0.8em;
			}

			.note-title {
				display: flex;
				margin-bottom: 1em;

				.title-text {
					width: 100%;
				}
			}

			.note-buttons {
				display: flex;
				cursor: pointer;

				div {
					margin: 0.2em;
				}
			}

			.note-content {
				width: 100%;
				overflow-y: auto;
				max-height: 12em;

				p:first-child {
					margin-top: 0;
				}

				p:last-child {
          margin-bottom: 0;
				}
			}
		}

		&:hover .vjs-menu {
			display: none;
		}

		&:hover.marker-pressed .vjs-menu {
			display: block;
		}
	}

	&.vjs-user-inactive.vjs-playing {
		.vjs-menu {
			visibility: hidden;
		}
	}
}
