#videojs {
	.overlay-container {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		width: 100%;

		display: table-cell;
		vertical-align: middle;
		pointer-events: none;
		// In case the content text does not fit.
		overflow: hidden;
	}

	.overlay {
		border: 2px dashed #88F;
		cursor: pointer;

		p {
			margin: 0;
		}
	}
}
