#videojs {
	.seek-bar-marker {
		&.note-marker {
			color: #ff6;
			font-size: 0.9em;
			width: 1.5em;
			top: -1.9em;
			margin-top: 0.3em;
			padding-top: 0.3em;
			padding-bottom: 0.2em;
			text-shadow: none;

			.vjs-menu {
				width: 25em;
				position: relative;
				margin-left: -3em;
			}

			.vjs-menu-content {
				background: none;
				max-height: 40em;
				bottom: 1em;
			}
		}
	}

	&.vjs-user-inactive.vjs-playing {
		.note-marker {
			top: -1.3em;
			text-shadow: -1.5px 0 #000, 0 1.5px #000, 1.5px 0 #000, 0 -1.5px #000;
			transition: all 0.5s;
			opacity: 0.7;

			// when the playback position is close to the marker
			&.being-played {
				font-size: 1.4em;
			}
		}
	}
}
