$primary-foreground-color: #fff;
$dialogFont: Arial, Helvetica, sans-serif;

body {
	font-size: 13.5px;
	margin: 0;
}

#videojs {
	color: $primary-foreground-color;
	font-size: 1em;

	// Chrome only
	@media screen and (-webkit-min-device-pixel-ratio:0)
	{
		select {
			// As Chrome allows us to redesign the select control, this comes with the disadvantage of a different default padding
			padding: 3px 2em 3px 7px !important;
			background: #fff url('../img/chevron-down.svg') no-repeat 95% center;
			background-size: 0.7em;
			border-radius: 3px;
		}
	}

	select {
		-webkit-appearance: none;
		appearance: none;
		border: 0;
		padding: 0;
		font-family: $dialogFont;
		font-size: 1em;
	}

	// Hides Arrow Icon in IE10
	select::-ms-expand {
		display: none;
	}

	// center big play button
	.vjs-big-play-button {
		$big-play-width: 3em;
		$big-play-height: 1.5em;

		line-height: $big-play-height;
		height: $big-play-height;
		width: $big-play-width;

		left: 50%;
		top: 50%;
		margin-left: -($big-play-width / 2);
		margin-top: -($big-play-height / 2);
	}

	&.vjs-fluid {
		position: absolute;
		height: 100%;
		max-height: 100%;
		overflow: hidden;
	}

	&.vjs-fullscreen {
		position: relative !important;
	}

	.vjs-control-bar {
		background: linear-gradient(to right, rgba(0, 0, 0, 0.7) 0%, rgba(50, 50, 50, 0.8) 20%, rgba(50, 50, 50, 0.8) 80%, rgba(0, 0, 0, 0.7) 100%);
	}

	.video-duration-time {
		color: #CCC;
	}

	.vjs-control {
		width: 3.5em;
		transition: all 0.5s;

		&::before { // Icons
			font-size: 2.3em;
			line-height: 1.37;
		}
	}

	.vjs-menu-button-inline {
		&::before {
			width: 1.5em;
		}

		&:hover, &:focus {
			width: 9.5em;
		}

		.vjs-menu-content {
			padding: 0;
		}
	}

	.vjs-current-time {
		display: block;
		width: 6em;
		overflow: hidden;
	}

	.vjs-remaining-time {
		display: none;
	}

	.vjs-play-progress {
		background: #ce5045;

		&::before, &::after {
			display: none;
		}
	}

	.vjs-progress-holder {
		background: rgba(255, 255, 255, 0.3);

		.vjs-mouse-display {
			&.simple::after {
				pointer-events: none;
				width: 3em;
				right: -1.5em;
			}

			&::after {
				top: inherit;
				font-size: 1em;
				padding-bottom: 0.5em;
				bottom: 1.4em;
				width: 8em;
				right: -4em;
			}
		}
	}

	.vjs-load-progress {
		background: rgba(255, 255, 255, 0.5);
	}

	.vjs-progress-control:hover {
		.vjs-progress-holder {
			// Disables the seek bar enlarge on hover effect
			font-size: 1em;
		}
	}

	&.vjs-user-inactive.vjs-fluid.vjs-playing {
		.vjs-control-bar {
			height: 0.6em;
			opacity: inherit;
			visibility: inherit;
			transition: all 0.7s;
		}
	}
}

.player-error {
	background: #000;
	font-size: 1.4em;
	color: #a00;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	height: 100%;
	width: 100%;
}

.c2jp-hidden {
	visibility: hidden;
}

.c2jp-disabled {
	color: #999 !important;
	cursor: default;
	pointer-events: none;
}
