$primary-foreground-color: #fff;

body {
	font-size: 13.5px;
	margin: 0;
}

#videojs {
	color: $primary-foreground-color;
	font-size: 1em;

	// center big play button
	.vjs-big-play-button {
		$big-play-width: 3em;
		$big-play-height: 1.5em;

		line-height: $big-play-height;
		height: $big-play-height;
		width: $big-play-width;

		left: 50%;
		top: 50%;
		margin-left: -($big-play-width / 2);
		margin-top: -($big-play-height / 2);
	}

	.vjs-control-bar {
		background: rgba(0, 0, 0, 0.7);
	}

	.vjs-control {
		width: 3.5em;
		transition: all 1s;

		&::before { // Icons
			font-size: 2.3em;
			line-height: 1.37;
		}
	}

	.vjs-menu-button-inline {
		&::before {
			width: inherit;
		}

		&:hover {
			width: 8em;
		}

		&:hover::before {
			left: -1.1em;
		}

		.vjs-menu {
			left: 1em;
		}
	}

	.vjs-current-time {
		display: block;
		width: 6em;
	}

	.vjs-remaining-time {
		display: none;
	}

	.vjs-play-progress {
		background: #ce5045;

		&::before, &::after {
			display: none;
		}
	}

	.vjs-progress-holder {
		background: rgba(255, 255, 255, 0.3);

		.vjs-mouse-display {
			&.simple::after {
				width: 3em;
				right: -1.5em;
			}

			&::after {
				top: inherit;
				font-size: 1em;
				padding-bottom: 0.5em;
				bottom: 1.4em;
				width: 8em;
				right: -4em;
			}
		}
	}

	.vjs-load-progress {
		background: rgba(255, 255, 255, 0.5);
	}

	.vjs-progress-control:hover {
		.vjs-progress-holder {
			// Disables the seek bar enlarge on hover effect
			font-size: 1em;
		}
	}

	&.vjs-user-inactive.vjs-fluid.vjs-playing {
		.vjs-control-bar {
			height: 0.6em;
			opacity: inherit;
			visibility: inherit;
			transition: none;
		}
	}
}

.player-error {
	background: #000;
	font-size: 1.4em;
	color: #a00;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	height: 100%;
	width: 100%;
}

.c2jp-hidden {
	visibility: hidden;
}

.c2jp-disabled {
	color: #999 !important;
	cursor: default;
	pointer-events: none;
}
