$primary-foreground-color: #d75;

#videojs {
	font-size: 15px;

	color: $primary-foreground-color;

	// center big play button
	.vjs-big-play-button {
		$big-play-width: 3em;
		$big-play-height: 1.5em;

		line-height: $big-play-height;
		height: $big-play-height;
		width: $big-play-width;

		left: 50%;
		top: 50%;
		margin-left: -($big-play-width / 2);
		margin-top: -($big-play-height / 2);
	}

	.vjs-current-time {
		display: block;
		width: 6em;
	}

	.vjs-remaining-time {
		display: none;
	}

	.vjs-play-progress::before {
		display: none;
	}

	.vjs-progress-holder {
		.vjs-mouse-display::after {
			top: inherit;
			font-size: 1em;
			padding-bottom: 0.5em;
			bottom: 1.4em;
			max-width: 12em;
		}
	}

	.vjs-progress-control:hover {
		.vjs-progress-holder {
			// Disables the seek bar enlarge on hover effect
			font-size: 1em;
		}
	}
}
